<div class="row">
<%= form_remote_for @plan do |f| %>
  <div class="span10">
    <%= f.text_field :title, placeholder: 'The Plan', class: 'comment comment-field' %>
    <%= fields_for @comment do |c| %>
      <div><%= c.text_area :prose, placeholder: 'Elaborate.', class: 'comment comment-field'  %></div>
    <% end %>
    <div class="pull-right">
      <%= f.submit 'New Plan', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
