<h2>Plans</h2>
<div class="row-fluid">
  <div class="span3">
    <%= render template: 'labels/index' %> 
  </div>
  <div class="span9">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="plans-tabs">
        <li><a href="#tab-open-plans" data-toggle="tab"><span id="count-open-plans"><%= raw pluralize(@open_plans.count, '</span> open plan') %></span></a></li>
        <li><a href="#tab-closed-plans" data-toggle="tab"><span id="count-closed-plans"><%= raw pluralize(@closed_plans.count, '</span> closed plan') %></a></li>
      </ul>
      <div class="tab-content">
        <div class="table-header">
          <%= render 'search' %>
          <%= link_to 'New Plan', new_plan_path, id: 'new-plan-link', class: 'btn', remote: true %>
        </div>
        <div id="tab-open-plans" class="tab-pane">
          <table class="table-striped table-hover tab-content plans">
            <tbody id="open-plans">
              <%= render :partial => 'open_plan', :collection => @open_plans, :as=> :plan %>
            </tbody>
          </table>
        </div>
        <div id="tab-closed-plans" class="tab-pane">
          <table class="table-striped table-hover tab-content plans">
            <tbody id="closed-plans">
              <%= render :partial => 'closed_plan', :collection => @closed_plans, :as=> :plan %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  $('#plans-tabs a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  })
  $('#plans-tabs a:first').tab('show');
  <% if @active_label %>
        document.getElementById("label-<%= @active_label %>").className += 'active';
  <% end %>
<% end %>
